<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="../dist/style.css">
    <link rel="stylesheet" href="../custom/custom.css">
</head>
<body>
    <section  class="bg-gray-100">
        <div id = "header" class = " fixed h-20  w-full m-auto flex items-center transition shadow-lg">
         <header class=" w-full container flex items-center justify-between">
           <div>
               <a class = "text-4xl text-semibold" href="">Riyan</a>
           </div>
           <nav> 
               <ul id = "openNav" class="flex md:text-lg navbar">
                   <li><a href="../index.html">Home</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#work">Works</a></li>
                   <li><a href="#blog">Blog</a></li>
                   <li><a href="#contact">Contact</a></li>
               </ul>
           </nav>
           <div id = "toggleMenu" class ="openMenu hidden "><i class="fa-solid fa-bars"></i><div>
       </header>
        </div> 
        <div class="container">
         <div class="flex space-y-8 flex-col items-center justify-center min-h-screen min-w-full">
           <img src="/img/img.JPG" class = "w-52 h-52 rounded-full object-cover ring-4 ring-primary" alt="">
           <h1 class="text-5xl  font-bold">Ashiqur Rahman</h1>
           <div class="text-primary font-semibold text-3xl h-10 overflow-hidden flex flex-col items-center justify-center">
           <div class = "h-full wrapper space-y-1">
             <p>Photographer</p>
             <p>Videographer</p>
             <p>Cinematographer</p>
             <p>Graphic Designer</p>
           </div>
           </div>
             <p class = "text-gray-500 lg:w-2/3 m-auto font-semibold tracking-wide">Creative Photographer based in Bangladesh and happy to travel all over country to capture photos.Creative Photographer based in Bangladesh and happy to travel all over country to capture photos.</p>
           <div class = "flex gap-x-3 ">
             <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full text-white hover:bg-gray-400 "></i></a>
             <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
             <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
             <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
           </div>
           </div>
       </div>
     </section>


     <section class = "pt-28">
        <div class="container">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
            <img src="../img/img5.jpg" alt="">
            </div>
             <div>
                <div>
                  <h2 class="text-center text-4xl font-bold  text-gray-900">CAPTURING THE MOMENTS THAT CAPTIVATE YOUR HEART
                  </h2>
                  <p class="text-400 py-4">Lorem ipsum dolor sit amet, consectetur adipiscing, tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis. All these taglines are owned by their respective owners, and we do not have any copyright on them.</p>
                </div>
            
                <div class ="space-y-8 pt-4">
                  <div class="flex gap-6">
                    <div> <i class="fa-solid fa-camera text-7xl"></i></div>
                  <div> 
                    <h4 class="uppercase text-xl font-bold">PROFESSIONALISM</h4>
                    <p class="text-base text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  </div>
                </div>
                <div class="flex gap-6">
                  <div> <i class = "fa-solid fa-calendar-check text-7xl"></i></div>
                <div>
                  <h4 class="uppercase text-xl font-bold">FLEXIBLE SCHEDULE</h4>
                  <p class="text-base text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </div>
              </div>
              <div class="flex  gap-6">
                <div> <i class="fa-solid fa-sim-card text-7xl"></i></div>
              <div>
                <h4 class="uppercase text-xl font-bold">INDIVIDUAL APPROACH</h4>
                <p class="text-base text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
              </div>
            </div>

          <div class="flex gap-6">
            <div> <i class="fa-solid fa-timeline p-16 text-7xl"></i></div>
          <div>
            <h4 class="uppercase text-xl font-bold">EXPERIENCE</h4>
            <p class="text-base text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
          </div>
        </div>
                </div>
             
            </div>
          </div>
        </div>
      </section>
    
      <section class="pt-28">
     
        <div class="container">
     
          <div class = "space-y-7 py-8 ">   
              <h2 class=" text-5xl font-bold text-gray-700">Our Team</h2>
              <p class = "w-[32rem]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nostrum iste libero iusto minus quo, nisi quod natus. Nisi facilis quam sunt quidem! Iusto sit molestiae quisquam expedita? Ipsum dignissimos molestiae nostrum accusamus iusto necessitatibus dolore accusantium voluptates. Voluptas reprehenderit repellendus maxime dicta eius est quibusdam ipsa exercitationem quas harum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae commodi at ab aspernatur quasi, perspiciatis quod modi! Sint, hic!</p>
          </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
                <div class = "shadow-md">
                 <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                  <div class="py-9 px-5 flex flex-col items-center space-y-2">
                    <h3 class = "text-xl font-semibold ">ALAN WALKER</h3>
                    <p class = "text-gray-400 text-base ">Photographer</p>
                     <div class = "flex gap-x-3 ">
                        <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                        <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                        <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class = "shadow-md">
                    <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                     <div class="py-9 px-5 flex flex-col items-center space-y-2">
                       <h3 class = "text-3xl font-bold ">ALAN WALKER</h3>
                       <p class = "text-gray-400 text-base ">Photographer</p>
                        <div class = "flex gap-x-3 ">
                           <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                           <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                           <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                           <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                         </div>
                       </div>
                     </div>
                     <div class = "shadow-md">
                      <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                       <div class="py-9 px-5 flex flex-col items-center space-y-2">
                         <h3 class = "text-3xl font-bold ">ALAN WALKER</h3>
                         <p class = "text-gray-400 text-base ">Photographer</p>
                          <div class = "flex gap-x-3 ">
                             <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                             <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                             <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                             <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                           </div>
                         </div>
                       </div>
                       <div class = "shadow-md">
                        <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                         <div class="py-9 px-5 flex flex-col items-center space-y-2">
                           <h3 class = "text-3xl font-bold ">ALAN WALKER</h3>
                           <p class = "text-gray-400 text-base ">Photographer</p>
                            <div class = "flex gap-x-3 ">
                               <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                               <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                               <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                               <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                             </div>
                           </div>
                         </div>
                         <div class = "shadow-md">
                          <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                           <div class="py-9 px-5 flex flex-col items-center space-y-2">
                             <h3 class = "text-3xl font-bold ">ALAN WALKER</h3>
                             <p class = "text-gray-400 text-base ">Photographer</p>
                              <div class = "flex gap-x-3 ">
                                 <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                                 <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                                 <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                                 <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                               </div>
                             </div>
                           </div>
                           <div class = "shadow-md">
                            <div class = "px-3" > <img class="h-60 w-full object-cover" src="../img/img.JPG" alt=""></div>
                             <div class="py-9 px-5 flex flex-col items-center space-y-2">
                               <h3 class = "text-3xl font-bold ">ALAN WALKER</h3>
                               <p class = "text-gray-400 text-base ">Photographer</p>
                                <div class = "flex gap-x-3 ">
                                   <a href=""><i class="fa-brands fa-facebook p-3 bg-primary rounded-full duration-300  text-white hover:bg-gray-400"></i></a>
                                   <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                                   <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                                   <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                                 </div>
                               </div>
                             </div>
              </div>
              </div>
        </div>
    </section>
     <section class = "pt-28">
        <div>
          <footer class="bg-gray-100 py-10">
            <div class="container">
             <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-8">
              <div>
                <h3 class="text-4xl font-bold py-3">Riyan Photography</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe sint rem neque aspernatur magni fugiat amet dolore id, maxime totam?</p>
                <div class = "flex gap-x-3 py-3 ">
                  <a href=""><i class="fa-brands fa-facebook p-3 bg-primary duration-300 rounded-full text-white hover:bg-gray-400 "></i></a>
                  <a href=""><i class="fa-brands fa-twitter p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                  <a href=""><i class="fa-brands fa-whatsapp p-3 bg-primary  duration-300 rounded-full text-white hover:bg-gray-400"></i></a>
                  <a href=""><i class="fa-brands fa-instagram p-3 bg-primary  duration-300  rounded-full text-white hover:bg-gray-400"></i></a>
                </div>
              </div>
              <div>
                <div>
                  <h3 class="text-4xl font-bold py-3">Quicks Link</h3>
                  <ul>
                    <li><a  class = "hover:underline" href="!#">Home</a></li>
                    <li><a  class = "hover:underline" href="#about">About</a></li>
                    <li><a class = "hover:underline" href="#work">Works</a></li>
                    <li><a  class = "hover:underline" href="#blog">Blog</a></li>
                    <li><a  class = "hover:underline" href="#contact">Contact</a></li>
                </ul>
                </div>
              </div>
              <div>
                <h3 class="text-4xl font-bold py-3">Quicks Link</h3>
                <div class = "relative "><input type="text" placeholder="Email" class= " border border-green-600  p-3 outline-none">
                <span class="bg-primary px-6 py-3 text-white  hover:bg-transparent hover:border top-0 bottom--0  border-green-600   h-full  absolute">send</span>
                
                </div>
              </div>
        
            </div>
            <hr>
            <div class="text-center pt-8 relative w-full text-gray-500">
              <p>Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved by <span class = "text-gray-800 font-bold"><a href="http://www.facebook.com/riyanphotography" target="_blank" class="hover:underline" >Riyan Photography</a></span></p>
            </div>
            <div class="capitalize items-center justify-center gap-x-1 flex">developed by <a href="https://www.facebook.com/mdmahdihasanrafi"><img src="./img/img.JPG" class="w-6 h-6 rounded-full object-cover" alt=""></a></div>
            </div>
          </footer>
        </div>
      </section>



      <script src = "../js/script.js"></script>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>